*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: inherit;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
:root{
    --clr-White: hsl(0, 100%, 100%);
    --clr-Purple-100: hsl(275, 100%, 97%);
    --clr-Purple-600: hsl(292, 16%, 49%);
    --clr--Purple-950: hsl(292, 42%, 14%);

    --ff: "Work Sans", sans-serif;

    --fs:16px;

    --fw-400:400;
    --fw-600:600;
    --fw-700:700;


}
body{
    font-family: var(--ff);
    font-size: var(--fs);
}

@media screen and (max-width: 375px) {
}



